body{
  background-color: rgb(245,245,245);
  font-family: 'Oswald', sans-serif;
  margin:0px;
}

.title-and-line-chart{
  width:calc(100vw - 40px);
  height:calc(100vh - 20px);
  display:flex;
  padding-left:10px;
  padding-right:10px;
  flex-direction: column;
  background-color: white;
  border-radius: 0px;
  border: 1px solid rgb(150,150,150);
  margin-left: 10px;
  margin-top:15px;

}

.chart-title-cont{
  flex:2;
  text-align:center;
  font-size:34px;

  font-weight:200;
}

.chart-title{

  width:100%;
  margin-top:20px;
}
.chart-sub-title{
  font-size: 20px;
  font-weight:150;
}
.state-chart-cont{
  width:100%;
  height:100%;
  display:flex;
  flex:10;
  margin-bottom:50px;

}
.states-chart-main{
  flex:9;
  height:100%;
  width:100%;

}

.states-picker{
  flex:3;
  height:160px;
  width:100%;
  display:flex;
  flex-wrap: wrap;
}
.state-select{
  text-align: center;
  font-weight:100;
  padding:5px;
  margin:5px;
  border:1px solid black;
  width:25px;
  height:25px;
  line-height: 25px;
  border-radius: 5px;
  cursor:pointer;
}
.state-select:hover{
 border:1px solid blue;
}
.state-select-on{
  color:white;
  background-color: gray;
}

.state-chart-popup{
  color:black;
}

.chart-sub-author{
  font-size: 16px;
  font-weight:400;
}

.break-break{
  display:none;
}

@media only screen and (max-width: 813px) {
  body {

    margin:0;

  }
  .double-text{
    display:none;
  }
  .title-and-line-chart{
    width:calc(100vw - 6px);
    margin-right:2px;
    margin-left:2px;
    margin-top:5px;
    height: 900px;
    display:block;
    padding:0;
  }
  .state-chart-cont{
    display:block;
    height:65%;
  }


  .state-select {

    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size:10px;
    padding:3px;
    margin:3px;
    padding-right:5px;

}

.break-break{
  display:block;
}
.states-picker{
  margin-left:20px;
  margin-right:10px;
  width:calc(100vw - 30px)
}
svg text{
  font-size: 10px;
}
}

@media only screen and (orientation: landscape) and (max-width: 813px) {
  .title-and-line-chart{
    height:800px;
  }

  .states-picker{

    height:50px;

  }
  .state-chart-cont{
    height:60%;
  }
  .title-and-line-chart{
    height:calc(160vh);
  }
}

.covid-info-vis-header{
  height:125px;
  width:calc(100vw - 40px);


  padding-left:10px;
  padding-right:10px;
  line-height: 14px;
  background-color: white;
  border-radius: 0px;
  border: 1px solid rgb(150,150,150);
  margin-left: 10px;
  font-size:14px;
  font-family: helvetica, sans-serif;




  margin-bottom: 5px;
}

.states-footer{
  height:50px;
  background-color:rgba(150, 169, 255, 1);
  border-top: 3px solid rgb(75,75,75);
  margin-top: 100px;
}

.menu-item{
  color:rgb(235,235,235);
  text-decoration: none;
  touch-action: manipulation;
  padding-left:10px;
  padding-right:10px;
}
.menu-item:hover{
  text-decoration: underline;
  color:white;
}

.covidinfovis{
  width:250px;
}
